.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px 15px;
  transition: background-color 0.2s ease-in-out;
}

.view-slot-btn {
  background-color: #007bff;
  color: #fff;
}

.view-slot-btn:hover {
  background-color: #0069d9;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.delete-btn:hover {
  background-color: #c82333;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: rgb(149 23 238) 0px 30px 60px -12px inset, rgb(198 51 51) 0px 18px 36px -18px inset;
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #333;
}

.card-text {
  margin-bottom: 5px;
  font-size: 1rem;
  color: #666;

}

.address-container {
  margin-bottom: 20px;
}

.slots-container {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.hr-line {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px 15px;
  transition: background-color 0.2s ease-in-out;
}

.view-slot-btn {
  background-color: #007bff;
  color: #fff;
}

.view-slot-btn:hover {
  background-color: #0069d9;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.delete-btn:hover {
  background-color: #c82333;
}

.paraent-slots-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.small-slot-divs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.isBookGreen {
  background-color: green;
}
.isBookedGreen{
  background-color: green;
}
.isBookedRed{
  background-color: red;
}